/* Body */
body {
    text-align: center;
    text-decoration: solid;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Inconsolata', sans-serif;
}

/* Header */
.splash {
    border: solid 2px #8B0000;
    background-color: #a862ea;
}

.page-title {
    font-size: 50px;
    margin-top: 30px;
}
.page-subtitle {
    margin-bottom: 40px;
    font-size: 30px;
    margin-top: 20px;
}

/* Rules */
.rules {
    border: solid 2px #8B0000;
    background-color: #ff674d;
}

.rules-title {
    font-size: 35px;
}

/* Game */
.game {
    border: solid 2px #8B0000;
    background-color: #4dffa6;
}

#buttons {
    margin-bottom: 20px;
}

.choice p {
    font-weight: bold;
}

.result p {
    font-weight: bold;
}