/* Body */
body {
    text-align: center;
    text-decoration: solid;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Playfair+Display', sans-serif;
}

/* Header */
.splash {
    border: solid 1px #080000;
    background-color: #568fa5;
}

.page-title {
    font-size: 50px;
    margin-top: 30px;
}
.page-subtitle {
    margin-bottom: 40px;
    font-size: 30px;
    margin-top: 20px;
}

/* Rules */
.rules {
    border: solid 1px #030000;
    background-color: #df634b;
    font-weight: bold;
}

.rules-title {
    font-size: 35px;
}

/* Game */
.game {
    border: solid 1px #030000;
    background-color: #8d8f31;
}

#buttons {
    margin-bottom: 20px;
}

.choice p {
    font-weight: bold;
}

.result p {
    font-weight: bold;
}